
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: #eee;
  
}
.ST img{
  width: 100%;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #222;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #222;
}

.Stranger_Logo img {
  width: 100px;
  height: auto;
}

.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  color: #eee;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: red;
}


main {
  padding: 20px;
}


section {
  padding: 2rem 0;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}


.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.intro-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.intro-text p,
.additional-info p {
  max-width: 700px;
  font-size: 1.2rem;
}


#characters h3 {
  border-bottom: 2px solid red;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.character-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.card {
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px red;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}


#about h3 {
  border-bottom: 2px solid red;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #222;
  margin-top: 2rem;
  text-align: center;
}

footer h1 {
  font-size: 4rem; 
  margin: 0;
  color: red; 
}

footer span {
  font-size: 1rem;
  margin-top: 1rem;
  color: #eee;
}