body{
    font-style: Bahnschrift;
}
.bod{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
}
header{
    background-color: #3d7068;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;

}
section{
   flex: 1;
}
figure{
    margin: 20px 5px;
    flex:1;
}
#border-collie-picture{
    width: 100%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #43c59e;
}